{% import 'operator/discipline.twig' as disciplineImp %}

<table data-discipltable="">{{ disciplineImp.tableDiscipline(discipline) }}</table>
<div data-disciplselect="">{{ disciplineImp.disciplineSelect(discipline) }}</div>
