{% import 'operator/teacher.twig' as teacherImp %}

<div data-teacherselect="">
	{% for teacher in teachers %}
		{{ teacherImp.teacherSelect(teacher, 'ds-teacher-option') }}	    
	{% endfor %}
</div>

<table data-dstable="">
	{% for teacher in teachers %}
		{{ teacherImp.disciplineTeacher(teacher) }}
	{% endfor %}
</table>
