<tr data-groupid="{{ group.Id }}">
	<td>{{ group.Id }}</td>
	<td>{{ group.groupTitle }}</td>
	<td>1</td>
	<td>{{ group.curatorName }}</td>
	<td align="center">
		<button>
			<img src="/images/edit.svg" alt="">
		</button>
	</td>
</tr>
