<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Operator</title>
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/operator.css">
	<link rel="stylesheet" href="/css/toggle.css">
</head>
<body>
	<div class="wrapper flex fdc">
		<div class="header flex jcsa alic">
			<div class="logo">
				<img src="/images/logo.svg" alt="">
			</div>
			<div class="buttons flex jcsb alic">
				<div class="tab active" id="student">
					Студент
				</div>
				<div class="tab" id="group">
					Група
				</div>
				<div class="tab" id="teacher">
					Викладач
				</div>
				<div class="tab" id="operator">
					Оператор
				</div>
				<div class="tab" id="discipline">
					Дисципліна
				</div>
				<div class="tab" id="program">
					Робоча програма
				</div>
				<div class="border">
					
				</div>
			</div>
			<a href="/user/logout" class="logout">
				<img src="/images/logout.svg" alt="">
			</a>
		</div>
		<div class="main flex jcc">
			<div class="flex jcc alic fdc content" id="student-content">
				<div class="content-wrapper">
					<div class="student-navigations flex jcsb">
						<div class="search student flex alic">
							<input type="text">
							<span>Пошук...</span>
						</div>
						<div class="add-student">
							<img src="/images/addStudent.svg" alt="">
						</div>
					</div>
					<div class="table-wrapper">
						<table class="student-table">
							<thead>
								<tr>
									<td width="45px">
										№
									</td>
									<td width="400px">
										ПІБ
									</td>
									<td width="250px">
										Логін
									</td>
									<td width="250px">
										E-mail
									</td>
									<td width="200px">
										Телефон
									</td>
									<td width="100px">
										Група
									</td>
									<td width="100px">
										Активний
									</td>
									<td width="100px">
										Редагувати
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Кривошеєва Олена Миколаївна</td>
									<td>Krivosheeva</td>
									<td>Login@gmail.com</td>
									<td>32123456789</td>
									<td>ПЗ-228</td>
									<td align="center">
										<label class="uvm--toggle-container">
											<input type="checkbox" hidden="" checked="" class="uvm--toggle">
											<div class="uvm--round"></div>
										</label>
									</td>
									<td align="center">
										<button>
											<img src="/images/edit.svg" alt="">
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="flex jcc alic content" id="group-content">
				<h1>Groups</h1>
			</div>
			<div class="flex jcc alic content" id="teacher-content">
				<h1>Teacher</h1>
			</div>
			<div class="flex jcc alic content" id="operator-content">
				<h1>Oper</h1>
			</div>
			<div class="flex jcc alic content" id="discipline-content">
				<h1>Discipline</h1>
			</div>
			<div class="flex jcc alic content" id="program-content">
				<h1>program</h1>
			</div>
		</div>
	</div>
	<script src="/scripts/uvm.js"></script>
	<script src="/scripts/operator/tabSwitch.js"></script>
</body>
</html>