{% macro themes(theme) %}
    <tr data-themeid="{{ theme.Id }}">
    	<td>{{ theme.Theme }}</td>
    	<td align="center">
    		<button data-groupId="{{ theme.Id }}">
				<img src="/images/edit.svg" alt="">
    		</button>
    	</td>
    </tr>
{% endmacro %}
