{% import 'operator/teacher.twig' as teacherImp %}

<table data-teachertable="">{{ teacherImp.tableTeacher(teacher) }}</table>
<div data-teacherselect="">{{ teacherImp.teacherSelect(teacher, 'teacher-option') }}</div>
<div data-disciplteacher="">{{ teacherImp.teacherSelect(teacher, 'discipl-teacher') }}</div>
