{% import 'operator/teacher.twig' as teacherImp %}

<table data-dstable="">{{ teacherImp.disciplineTeacher(teachers) }}</table>
<table data-teachertable="">{{ teacherImp.tableTeacher(teachers) }}</table>
<div data-teacherselect="">{{ teacherImp.teacherSelect(teachers) }}</div>
