@font-face {
	src: url('/fonts/Roboto.ttf');
	font-family: Roboto;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Roboto;
}
html {
	--main: #7E9AE4;
}
a{
	text-decoration: none;
}
.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.alic {
	-ms-align-items: center;
	align-items: center;
}
.alife {
	align-items: flex-end;
}
.fdc {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.jcc {
	justify-content: center;
}
.jcsb {
	justify-content: space-between;
}
.jcsa {
	justify-content: space-around;
}
.jcfe {
	justify-content: flex-end;
}
.pointer {
	cursor: pointer;
}
.full-w {
	width: 100%;
}