html.student-modal .wrapper,
html.group-modal .wrapper,
html.ds-group-modal .wrapper,
html.teacher-modal .wrapper,
html.operator-modal .wrapper,
html.discipline-modal .wrapper,
html.ds-teacher-modal .wrapper,
html.program-modal .wrapper {
	filter: blur(10px);
}
html.student-modal .student-modal-wrapper,
html.group-modal .group-modal-wrapper,
html.ds-group-modal .ds-group-modal-wrapper,
html.teacher-modal .teacher-modal-wrapper,
html.operator-modal .operator-modal-wrapper,
html.discipline-modal .discipl-modal-wrapper,
html.ds-teacher-modal .ds-teacher-modal-wrapper,
html.program-modal .program-modal-wrapper {
	visibility: visible;
	opacity: 1;
}
.wrapper {
	transition: 400ms;
}
.modal-wrapper {
	transition: 400ms;
	top: 0;
	left: 0;
	position: absolute;
	height: 100vh;
	visibility: hidden;
	opacity: 0;
	width: 100%;
	background: rgba(183, 183, 183, 0.5);
	
}
.student-modal-content,
.group-modal-content,
.ds-group-modal-content,
.teacher-modal-content,
.operator-modal-content,
.discipl-modal-content,
.ds-teacher-modal-content,
.program-modal-content {
	background: #FFFFFF;
	width: 550px;
	/*height: 450px;*/
	padding: 20px 80px;
}
.modal-controls {
	margin: 20px 0;
}
.modal-controls button {
	background: #fff;
	border-radius: 5px;
	padding: 7px 60px;
	cursor: pointer;
	font-size: 14px;
	outline: none;
}
.modal-controls button:first-child {
	border: 1px solid #FF7171;
	color: #FF7171;
}
.modal-controls div > button {
	border: 1px solid #2DC82D !important;
	color: #2DC82D !important;
}