.wrapper {
	width: 100%;
	height: 100vh;
}
body {
	font-family: Roboto;
	overflow-x: hidden;
}
a {
	outline: none;
	user-select: none;
}
.header {
	background: linear-gradient(90deg, #849EEF 0%, #9FA0FF 100%);
	box-shadow: 0px 4px 4px rgba(186, 186, 186, 0.25);
	height: 100px;
	width: 100%;
	margin-top: 8vh;
}
.buttons {
	width: 70%;
	position: relative;
	height: 100%;
}
.border {
	background: #fff;
	height: 5px;
	left: 0;
	bottom: 2%;
	transition: .5s;
	position: absolute;
}
.buttons div {
	padding: 0 !important;
	border: 0 !important;
	outline: 0 !important;
	margin: 0 !important;
	user-select: none;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
}
#group-content,
#discipline-content,
#teacher-content,
#program-content,
#operator-content {
	display: none;
}
.content {
	transition: .5s;
	width: 100%;
	padding: 50px 0;
}
.content-wrapper {
	width: 85%;
}
.student-navigations {
	width: 100%;
	padding: 0 20px 0 0;
}
.add-student img,
.add-group img,
.add-to-group img,
.add-teacher img,
.add-operator img {
	pointer-events: none;
}
.search {
	position: relative;
}
.search span {
	position: absolute;
	left: 3%;
	transition: 0.2s;
	color: #8E8E8E;
}
.search input {
	border-radius: 5px;
	height: 35px;
	border: 2px solid #7E9AE4;
	color: #4E4E4E;
	width: 350px;
	padding: 0 10px;
	font-size: 16px;
	transition: 1s;
}
.search input:focus + span {
	left: 8%;
	opacity: 0;
}
.table-wrapper {
	width: 100%;
	border: 3px solid #7E9AE4;
	height: 65vh;
	overflow-y: auto;
}
table {
	width: 100%;
	border-collapse: collapse;
}
td {
	border: 1px solid #7E9AE4;
}
.student-table tbody > tr > td:first-child,
.group-table tbody > tr > td:first-child,
.teacher-table tbody > tr > td:first-child,
.operator-table tbody > tr > td:first-child,
.discipline-table tbody > tr > td:first-child {
	text-align: center;
}
.group-table tbody > tr > td:nth-child(2),
.group-table tbody > tr > td:nth-child(3) {
	text-align: center;
}
.student-table tbody > tr > td:nth-child(6) {
	text-align: center;
}
table > thead > tr > td {
	height: 35px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
tbody > tr:hover {
	background: rgba(126, 154, 228, 0.4);
}
tbody > tr > td {
	height: 30px;
	font-size: 16px;
	padding: 0 10px;
}
table > tbody > tr > td:last-child button {
	background: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}
table > tbody > tr > td:last-child > button img {
	pointer-events: none;
}
.group-table tbody > tr {
	cursor: pointer;
}
.selected {
	background: rgba(126, 154, 228, 0.4);
}
.left-side,
.right-side {
	width: 47%;
}
.table-head div,
.speciality div,
.course > div,
.group-program > div,
.discipline-program > div {
	border-bottom: 1px solid #7E9AE4;
	border-right: 1px solid #7E9AE4;
}
.speciality,
.course,
.group-program {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.speciality:hover {
	background: rgba(126, 154, 228, 0.4);
}
.table-head div {
	height: 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
.speciality div,
.course div,
.group-program div,
.discipline-program div {
	height: 30px;
}
.spec-title-head {
	width: 100%;
	font-weight: bold;
}
.spec-number,
.speciality div:first-child,
.course div:first-child,
.group-program div:first-child,
.discipline-program div:first-child {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 45px;
	width: 45px;
}
.course div:nth-child(2),
.discipline-program div:nth-child(2) {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	align-items: center;
}
.speciality div:nth-child(2) {
	padding: 0 10px;
}
.speciality div:nth-child(2),
.group-program div:nth-child(2),
.discipline-program {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.first-level,
.second-level,
.third-level {
	border: none !important;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 10px;
	align-items: center;
}
.speciality-row,
.course-row,
.group-row,
.discipline-row {
	cursor: pointer;
}
.speciality-row.opened div:first-child .first-level:before,
.course-row.opened div:first-child .second-level:before,
.group-row.opened div:first-child .third-level:before {
	transform: rotate(90deg);	
}
.courses,
.groups-program, 
.disciplines-program {
	max-height: 0;
	overflow: hidden;
}
.speciality-row.opened .courses,
.course-row.opened .groups-program,
.group-row.opened .disciplines-program {
	overflow: visible;
	max-height: none;
}
.first-level:before,
.second-level:before,
.third-level:before {
	content: '';
	transition: 0.2s;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 10px solid #7E9AE4;
}
.group-program > div:nth-child(2) .third-level,
.discipline-program > div:nth-child(2) .fourth-level {
	margin-left: 20px;
}
.speciality,
.course,
.group-program,
.discipline-program {
	pointer-events: none;
}
.none {
	display: none !important;
}
.selected {

}