{% import 'student/grades.twig' as st %}

<table class="grades-table">
	<colgroup>
		<col>
		{% for lesson in result.lessons %}
			{{ st.colors(lesson.Title) }}
		{% endfor %}
	</colgroup>
	<thead>
		<tr>
			<td class="group-title">
				{{ group }}
			</td>
			{% for lesson in result.lessons %}
				{{ st.lessons(lesson) }}
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for student in result.students %}
			{{ st.students(student) }}
		{% endfor %}
	</tbody>
</table>